*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html,
body {
  margin: 0px;
  background-color: #f0f8ff;
}
#root {
  margin: 0%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Photo grid container */
.photo-grid {
  display: flex;
  /* text-align: center; */
  max-width: 1850px;
  padding-left: 2rem;
  padding-right: 2rem;
  /* align-content: flex-start; */

  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
  background-color: #565e6d;
}

li {
  /* height: 40vh; */
  /* flex-shrink: 0; */
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: antiquewhite;
  vertical-align: bottom;
  max-height: 100%;
  margin: 1.5rem;
  object-fit: contain ;
  /* max-width: 263px; */
  /* flex-shrink: 1; */
}

img {
  height: auto;
  max-width: 100%;
  /* flex-basis: 1; */
  
}

li:last-child {
  flex-grow: 1;
}
